

body {
  font-family: roboto;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

html, body {
  margin: 0;
  padding: 0;
  background: #0b192f;
  font-family: "Roboto";
}
.container {
  padding: 0 10px;
}
.page-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: minmax(120px, max-content) auto minmax(125px, max-content);
  grid-template-areas:
  "header header"
  "main sidebar"
  "footer footer";
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #162b4d;
}
.box {
  height: 420px;
  position: relative;
  margin-bottom: 22px;
}

.box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text_box {
  position: absolute;
  bottom: 50px;
  left: 40px;
  right: 40px;
  color:#fff;
}
.header_heading {
  padding-bottom: 30px;
  font-size: 40px;
}

.main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
  padding: 0 35px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7388a9;
  opacity: .7;
  font-weight: 300;
  line-height: 24px;
  background: #162b4d;
}

.logo a {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}
.logo span {
  color: #d12955;
}
.nav-menu {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-menu a {
  box-sizing: border-box;
  display: block;
  height: 100%;
  text-decoration: none;
  color: #fff;
  padding: 25px;
  line-height: 70px;
  font-weight: 300;
}
.nav-menu a:hover {
  background: #283D5F;
}
.menu-btn {
  display: none;
  margin-bottom: 30px;
}
.menu-btn button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 32px;
}

.posts-wrapper {
  display: flex;
  flex-direction: column-reverse;
}
.post {
  display: flex;
}
.post__thumbnail {
  position: relative;
  cursor: pointer;
}
.post__thumbnail:hover::after {
  opacity: .5;
}
.post__thumbnail::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .2s linear;
}
.post__thumbnail img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.post__desc {
  box-sizing: border-box;
  padding: 4% 13% 4% 4%;
  color: #fff;
  position: relative;
}
.post__desc p {
  font-weight: 300;
  color: #fff;
  line-height: 26px;
  opacity: .7;
}
.post__thumbnail, .post__desc {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 1;
}
.post_empty-thumbnail .post__desc{
  flex-basis: 100%;
}
.post__title {
  margin: 0;
}
.post__title a {
  font-size: 3.5vw;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
}
.post__title a:hover {
  opacity: .6;
}
.post__date {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 32px;
  text-align: center;
  font-weight: 100;
  opacity: .4;
}
.post__date time {
  font-size: 55px;
}
.post:nth-last-child(2n) {
  flex-direction: row-reverse;
}
.post:nth-last-child(2n) .post__desc {
  padding: 4% 4% 4% 13%;
  text-align: right;
}
.post:nth-last-child(2n) .post__date {
  left: 15px;
  right: auto;
}
.post:nth-last-child(5n+1) .post__desc, .post:nth-last-child(5n+1) .post__thumbnail::after {
  background: #b71757;
}
.post:nth-last-child(5n+2) .post__desc, .post:nth-last-child(5n+2) .post__thumbnail::after {
  background: #0d7e71;
}
.post:nth-last-child(5n+3) .post__desc, .post:nth-last-child(5n+3) .post__thumbnail::after {
  background: #b1660e;
}
.post:nth-last-child(5n+4) .post__desc, .post:nth-last-child(5n+4) .post__thumbnail::after {
  background: #d12767;
}
.post:nth-last-child(5n+5) .post__desc, .post:nth-last-child(5n+5) .post__thumbnail::after {
  background: #2d95bb;
}

.news {
  margin-bottom: 25px;
}
.news__thumbnail img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}
.news__desc {
  background: #fff;
  padding: 10%;
}
.news__desc p {
  color: #777;
  line-height: 24px
}
.news__title {
  margin: 0;
}
.news__title a {
  font-size: 32px;
  font-weight: 300;
  color: #000;
  text-decoration: none;
}
.news__title a:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .page-wrapper {
    grid-template-columns: 3fr 2fr;
  }
  .header {
    flex-direction: column-reverse;
    padding: 40px;
  }
  .nav-menu {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .post, .post:nth-last-child(2n) {
    flex-direction: column;
  }
  .post__desc, .post:nth-last-child(2n) .post__desc {
    padding: 40px 40px 140px 40px;
  }
  .post:nth-last-child(2n) .post__desc {
    text-align: left;
  }
  .post__title a {
    font-size: 30px;
  }
  .post__date, .post:nth-last-child(2n) .post__date {
    left: 50%;
    bottom: 30px;
    right: auto;
    top: auto;
    transform: translateX(-50%);
  }
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .page-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(120px, max-content) auto auto minmax(125px, max-content);
    grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";
  }
}
