$color_of_bckgr: rgb(33, 35, 46);
$style_of_font: 'Hind', sans-serif;
$top_bckgr: url('../img/m-h-night.jpg');
$color_of_header: white;
$color_of_button: rgb(227, 172, 0);
$color_of_txt: rgb(227, 172, 0);
$color_of_section: rgb(59, 63, 80);
$grt: linear-gradient(to right, rgb(226, 173, 13), rgb(202, 87, 68) );
$color_ul: rgb(255, 78, 51);;