$color_of_bckgr: white;
$style_of_font: 'Source Sans Pro', sans-serif;
$top_bckgr: url('../img/m-h-day.jpg');
$color_of_header: rgb(44, 47, 60);
$color_of_button: rgb(102, 149, 1);
$color_of_txt: rgb(192, 195, 201);
$color_of_section: rgb(39, 37, 50);
$grt: linear-gradient(to right, rgb(104, 147, 11), rgb(49, 90, 165) ) ;
$color_ul: rgb(51, 136, 153); 